set_io Tile_X0Y1_A Tile_X0Y1.A
set_io Tile_X0Y1_B Tile_X0Y1.B
set_io Tile_X4Y1_A Tile_X4Y1.A
set_io Tile_X4Y1_B Tile_X4Y1.B
set_io Tile_X4Y1_C Tile_X4Y1.C
set_io Tile_X4Y1_D Tile_X4Y1.D
set_io Tile_X4Y1_E Tile_X4Y1.E
set_io Tile_X4Y1_F Tile_X4Y1.F
set_io Tile_X4Y1_G Tile_X4Y1.G
set_io Tile_X4Y1_H Tile_X4Y1.H
set_io Tile_X4Y1_I Tile_X4Y1.I
set_io Tile_X4Y1_J Tile_X4Y1.J
set_io Tile_X4Y1_K Tile_X4Y1.K
set_io Tile_X0Y2_A Tile_X0Y2.A
set_io Tile_X0Y2_B Tile_X0Y2.B
set_io Tile_X4Y2_A Tile_X4Y2.A
set_io Tile_X4Y2_B Tile_X4Y2.B
set_io Tile_X4Y2_C Tile_X4Y2.C
set_io Tile_X4Y2_D Tile_X4Y2.D
set_io Tile_X4Y2_E Tile_X4Y2.E
set_io Tile_X4Y2_F Tile_X4Y2.F
set_io Tile_X4Y2_G Tile_X4Y2.G
set_io Tile_X4Y2_H Tile_X4Y2.H
set_io Tile_X4Y2_I Tile_X4Y2.I
set_io Tile_X4Y2_J Tile_X4Y2.J
set_io Tile_X4Y2_K Tile_X4Y2.K
set_io Tile_X0Y3_A Tile_X0Y3.A
set_io Tile_X0Y3_B Tile_X0Y3.B
set_io Tile_X4Y3_A Tile_X4Y3.A
set_io Tile_X4Y3_B Tile_X4Y3.B
set_io Tile_X4Y3_C Tile_X4Y3.C
set_io Tile_X4Y3_D Tile_X4Y3.D
set_io Tile_X4Y3_E Tile_X4Y3.E
set_io Tile_X4Y3_F Tile_X4Y3.F
set_io Tile_X4Y3_G Tile_X4Y3.G
set_io Tile_X4Y3_H Tile_X4Y3.H
set_io Tile_X4Y3_I Tile_X4Y3.I
set_io Tile_X4Y3_J Tile_X4Y3.J
set_io Tile_X4Y3_K Tile_X4Y3.K
set_io Tile_X0Y4_A Tile_X0Y4.A
set_io Tile_X0Y4_B Tile_X0Y4.B
set_io Tile_X4Y4_A Tile_X4Y4.A
set_io Tile_X4Y4_B Tile_X4Y4.B
set_io Tile_X4Y4_C Tile_X4Y4.C
set_io Tile_X4Y4_D Tile_X4Y4.D
set_io Tile_X4Y4_E Tile_X4Y4.E
set_io Tile_X4Y4_F Tile_X4Y4.F
set_io Tile_X4Y4_G Tile_X4Y4.G
set_io Tile_X4Y4_H Tile_X4Y4.H
set_io Tile_X4Y4_I Tile_X4Y4.I
set_io Tile_X4Y4_J Tile_X4Y4.J
set_io Tile_X4Y4_K Tile_X4Y4.K